<div id="main-controls">
    <a href="#" class="btn btn-default btn-sm" id="new">
        New Plan
    </a>
    <a href="#" class="btn btn-default btn-sm" id="saveFile">
        Save Plan
    </a>
    <a class="btn btn-sm btn-default btn-file">
        <input type="file" class="hidden-input" id="loadFile">
        Load Plan
    </a>
</div>
