<div id="main-controls">
    <a href="#" class="btn btn-default btn-sm" id="new">
        پلان جدید
    </a>
    <a href="#" class="btn btn-default btn-sm" id="saveFile">
        ذخیره سازی پلان
    </a>
    <a class="btn btn-sm btn-default btn-file">
        <input type="file" class="hidden-input" id="loadFile">
        بارگذاری پلان
    </a>
</div>
