<div class="col-xs-3 sidebar">
    <%- include('./main_navigation.ejs') %>
    <hr/>

    <%- include('./context_menu.ejs') %>
    <%- include('./floor_textures.ejs') %>
    <%- include('./wall_textures.ejs') %>

</div>
