<div class="col-xs-3 sidebar">
    <%- include('./main-navigation.ejs') %>
    <hr/>

    <%- include('./context-menu.ejs') %>
    <%- include('./floor-textures.ejs') %>
    <%- include('./wall-textures.ejs') %>

</div>
