html {
    overflow: hidden;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    direction: rtl;
    font-family: 'Sahel', sans-serif !important;
}

div {
    margin: 0;
    padding: 0;
}
