<div id="floorplanner-controls">
    <button id="move" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-move"></span>
        Move Walls
    </button>
    <button id="draw" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-pencil"></span>
        Draw Walls
    </button>
    <button id="delete" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-remove"></span>
        Delete Walls
    </button>
    <span class="pull-right">
        <button class="btn btn-primary btn-sm" id="update-floorplan">Done &raquo;</button>
    </span>
</div>
