<!doctype html>
<html lang="en">
<%- include('parts/site/head.ejs') %>
<body>

<div class="container-fluid">
    <div class="row main-row">
        <%- include('parts/page/sidebar/sidebar.ejs') %>
    </div>
</div>

<%- include('parts/site/foot.ejs') %>
</body>
</html>
